@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  --paragraph-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--eggshell);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: var(--paragraph-size);
  font-family: "Outfit", sans-serif;
}

.main-cont {
  background-color: var(--white);
  max-width: 600px;
  border-radius: 1rem;
  padding: 2rem;
  div {
    margin: 1rem 0;
  }
  .img-cont {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    img {
      width: inherit;
    }
  }
  .hero-cont {
    h1 {
      padding-bottom: 1rem;
      font-family: "Young Serif", serif;
      color: var(--dark-charcoal);
      font-weight: normal;
    }
    p {
      color: var(--wenge-brown);
    }
  }
  .prep-cont {
    padding: 1rem;
    background-color: var(--rose-white);
    border-radius: 8px;
    h3 {
      font-weight: 600;
      color: var(--dark-raspberry);
    }
    ul {
      color: var(--wenge-brown);
      margin: 0 0.4rem;
      li {
        margin: 0.5rem 1rem;
        padding-left: 1rem;
      }
      li::marker {
        color: var(--dark-raspberry);
      }
    }
  }
  .ingredients-cont {
    h2 {
      font-family: "Young Serif", serif;
      color: var(--nutmeg);
      font-weight: normal;
    }
    ul {
      color: var(--wenge-brown);
      margin: 0 0.4rem;
      li {
        margin: 0.5rem 1rem;
        padding-left: 1rem;
      }
      li::marker {
        color: var(--dark-raspberry);
      }
    }
  }
  .ins-cont {
    h2 {
      font-family: "Young Serif", serif;
      color: var(--nutmeg);
      font-weight: normal;
    }
    ol {
      color: var(--wenge-brown);
      margin: 0 0.4rem;
      li {
        margin: 0.5rem 1rem;
        padding-left: 1rem;
      }
      li::marker {
        color: var(--dark-raspberry);
        font-weight: bold;
      }
    }
  }
}
